!margin = #888

.project
  :position relative
  :font-family verdana, helvetica, arial, sans-serif
  :font-family "Lucida Grande", "Trebuchet MS", verdana, arial, sans-serif
  :font-size 11px
  :background #efefef
  :border 10px solid
  :border-color = !margin
  :padding 5px
  :height 250px
  :margin 0 20px 20px 0
  :padding 20px

  h2
    :color #333333
    :left 0
    :font-size 2em
    :font-family Palatino, "Palatino Linotype", "Hoefler Text", Times, "Times New Roman", serif
    :margin-top 5px

  a
    :color inherit
    :text-decoration inherit
    &:hover
      :text-decoration underline

  img
    :border 10px solid #FFFFFF
    :float right
    :margin 0 0 20px 20px

  .role
    :color gray
      
  .company
    :color gray

  .tags
    :color gray
    :margin-top 5px
    :margin-bottom 5px

  ul
    :list-style none
    :padding-left 0
    :margin-left -20px

    li
      :width 40%
      :background = !margin
      :color white
      :margin 0 10px 10px 0
      :padding 5px 10px 5px 10px
