h1 {
    font-size: 20pt;
    color: #404050;
    margin: 0;
}

ul.nav {
    margin-top: 5px;
    list-style: none;
    padding-left: 0;
}

ul.nav li + li:before {content: " / "}

ul.nav li {
    display: inline;
}

ul.nav a {
    font-size: 14pt;
    color: gray;
    text-decoration: none;
}

ul.nav a:hover {
    text-decoration: underline;
}

.project {
    font-family: verdana, helvetica, arial, sans-serif;
    font-size: 11px;
    background: #ffe;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 5px;
}

.project a:hover {
    color: blue
    text-decoration: underline;
}

.project .name {
    float: left;
    padding-bottom: 10px;
    font-size: 16px;
}

.project .date {
    float: right;
    font-style: italic;
    text-align: right;
    padding-bottom: 10px;
}

.project .desc {
    clear:  both;
    padding-bottom: 10px;
}

.project .tags {
    font-size: 10px;
}
