h1 {
  font-size: 20pt;
  color: #404050;
  margin: 0; }

ul.nav {
  margin-top: 5px;
  margin-bottom: 5px;
  list-style: none;
  padding-left: 0; }
  ul.nav li {
    display: inline;
    font-size: 14pt;
    color: gray; }
    ul.nav li + li:before {
      content: " | "; }
    ul.nav li + li.projects:before {
      content: " | ";
      font-weight: normal; }
  ul.nav a {
    text-decoration: none;
    color: gray; }
    ul.nav a:hover {
      text-decoration: underline; }

body.projects ul.nav li.projects {
  font-weight: bold; }
  body.projects ul.nav li.projects a:hover {
    text-decoration: none; }

img {
  border: 0; }

#flashcontent {
  height: 29px;
  margin-bottom: 5px; }

td {
  max-width: 400px; }

.project {
  position: relative;
  height: 40ex;
  margin: 0 20px 20px 0;
  padding: 10px 20px 20px 20px;
  background: #efefef;
  border: 10px solid;
  border-color: #888888;
  font-family: verdana, helvetica, arial, sans-serif;
  font-family: "Lucida Grande", "Trebuchet MS", verdana, arial, sans-serif;
  font-size: 11px; }
  .project h2 {
    color: #333333;
    left: 0;
    font-size: 2em;
    font-family: Palatino, "Palatino Linotype", "Hoefler Text", Times, "Times New Roman", serif;
    margin-top: 5px; }
  .project a {
    color: inherit;
    text-decoration: inherit; }
    .project a:hover {
      text-decoration: underline; }
  .project .date {
    position: absolute;
    display: none;
    right: 5px;
    bottom: 5px; }
  .project img {
    border: 10px solid #FFFFFF;
    display: block;
    float: right;
    margin: 0 0 20px 20px; }
  .project .role {
    color: gray;
    display: none; }
  .project .company {
    color: gray;
    display: none; }
  .project .tags {
    color: gray;
    margin-top: 5px;
    margin-bottom: 5px; }
  .project ul {
    position: absolute;
    bottom: -5px;
    list-style: none;
    padding-left: 0;
    margin-left: -20px; }
    .project ul li {
      width: 10em;
      background: #888888;
      color: white;
      margin: 0 10px 5px 0;
      padding: 5px 10px 5px 10px; }
      .project ul li:hover {
        background: #666; }

.project:hover .date {
  display: block; }
