h1 {
    font-size: 20pt;
    color: #404050;
    margin: 0;
}

ul.nav {
    margin-top: 5px;
    margin-bottom: 5px;
    list-style: none;
    padding-left: 0;
}

ul.nav li + li:before {content: " / "}

ul.nav li {
    display: inline;
    font-size: 14pt;
    color: gray;
}

ul.nav a {
    text-decoration: none;
    color: gray;
}

ul.nav a:hover {
    text-decoration: underline;
}

#flashcontent {
    height: 29;
    margin-bottom: 5px;
}

.project {
    position: relative;
    font-family: verdana, helvetica, arial, sans-serif;
    font-family: "Lucida Grande", "Trebuchet MS", verdana, arial, sans-serif;
    font-size: 11px;
    background: #ffe;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 5px;
}

.project .details {
    position: relative;
    margin-left: 175px;
}

.project .titlebar {
    position: relative;
    top: 10px;
    padding: 2px;
    padding-bottom: 5px;
}

.project .title {
    position: relative;
    left: 0;
    padding-bottom: 10px;
    font-size: 16pt;
}

.project .title, .project .title a {
    color: #a0f;
    text-decoration: none;
}

.project .title a:hover,
.project .title a:hover .more {
    text-decoration: underline;
}

.project .title .more {
    background: yellow;
    padding-left: 2px;
    padding-right: 2px;
    margin-left: 2px;
    color: blue;
}

.project .date {
    position: absolute;
    top: 0;
    width: 100%;
    padding-top: 2px;
    text-align: right;
    font-style: italic;
}

.project .details {
    color: #555;
}

.project .description {
    padding-bottom: 10px;
    font-size: 12pt;
}

.project .description a {
    color: black;
}

.project .tags, .project .technologies, .project .company {
    font-size: 10px;
    margin-top: 2px;
}

.project .label {font-weight: bold}

.project .thumbnail {
    max-width: 150px;
}

.project .thumbnail img {
    padding: 1px;
}

.project .thumbnail a:hover img {
    padding: 0px;
    border: 1px solid blue;
}

img {border: 0}

x#container {
  width: 736px;
  margin-left: auto;
  margin-right: auto;
}
#content {float: left; width: 599px}
#sidebar {float: left; width: 137px; margin-left: 16px}
