body {
	background: url(../../images/grass.gif) repeat;
}

#footer {
	text-align: center;
	font: normal normal 9px/9.5px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	margin-bottom: 20px;
	margin-right: auto;
	margin-left: auto;
	width: 800px;
	padding: 4px 10px;
	background-color: #008600;
}