#main {
        border: 10px solid #fff;
}

body {
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #eee;
}

h3 {
        font-family: "Century Gothic", Verdana, sans-serif;
        font-weight: bold;
        font-size: 12pt;
        color: #000;
}

h2 {
        font-family: "Century Gothic", Verdana, sans-serif;
        font-weight: bold;
        font-size: 14pt;
        color: #000;
}

#top {
	background: #5087BD;
}

#credits {
        background: #5087BD;
        font-size: 11px;
        color: #fff;
}

.post a {
	color: #5087BD;
	text-decoration: underline;
}

.post a:hover {
	background-color: #ff9933;
	color: #000;
	text-decoration: none;
}

#toppanel {
	padding-bottom: 1px;
	background: url('images/flower.jpg') no-repeat bottom left;
}

#comments {
	background-color: #5087BD;
	color: #333;
	padding-top: 10px;
}

#comments h3 {
	margin: 0px;
	padding: 0px;
	font-family: 'Century Gothic', 'Lucida Grande', 'Trebuchet MS', Verdana, Sans-Serif;
	font-size: 12pt;
}

#comments a {
	color: #5087BD;
	text-decoration: none;
}

#commentsrss a {
	color: #fff;
}

#formlinks a {
	color: #fff;
}

.noajax {
	padding: 5px;
	padding-top: 0px;
	color: #000;
	font-family: Verdana, Sans-Serif;
	font-size: 8pt;
}

#comments ul, ol {
	padding: 0px;
	font-family: 'Century Gothic', 'Lucida Grande', 'Trebuchet MS', Verdana, Sans-Serif;
	font-size: 11pt;
	list-style-position: inside;
}

.alt {
	margin: 0px;
	margin-bottom: 5px;
	padding: 5px;
	background-color: #fff;
}

.norm {
	margin: 0px;
	margin-bottom: 10px;
	padding: 5px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	background-color: #ffffff;
}

div.commentbox {
	margin-bottom: 5px;
	background-color: #ffffff;
}

#storycontent ul, ol {
        font-family: Verdana, Sans-Serif;
}

.num {
	font-family: 'Century Gothic', 'Lucida Grande', 'Trebuchet MS', Verdana, Sans-Serif;
	font-size: 11pt;
}

#midpanel {
	background: #5087BD;
	font: normal 11px Verdana, Helvetica, serif;
	color: #fff;
}

#midpanel a {
	color: #fff;
	text-decoration: underline;
}

#midpanel a:hover {
	color: #000;
	text-decoration: underline;
}

#midpanel img {
	margin-right: 5px;
}

#lowpanel {
        background: #fff;
        font: normal 11px Verdana, Helvetica, serif;
        color: #000;
}

#lowpanel a {
        color: #5087BD;
        text-decoration: none;
}

#lowpanel a:hover {
        color: #000;
        text-decoration: none;
}

#midpanel .tooltitle {
        margin-bottom: 2px;
}

.pullquoter {
        float: right;
        width: 200px;
        margin: 10px 5px 10px 5px;
        padding: 5px;
        /*border: 1px solid #ccc;*/
        background: url('images/quote.gif') no-repeat;
        font: 20px/24px georgia, palatino, serif;
        color: #333;
        text-align: center;
}

.pullquotel {
        float: left;
        width: 200px;
        margin: 10px 5px 10px 5px;
        padding: 5px;
        /*border: 1px solid #ccc;*/
        background: url('images/quote.gif') no-repeat;
        font: 20px/24px georgia, palatino, serif;
        color: #333;
        text-align: center;
}

.archives span {
	color: #bbb;
	}

/* Links */
a {
  text-decoration: none;
  color:#5087BD;
}
a:hover {
  text-decoration: underline;
  color:#5087BD;
}

p.post-footer {
  color:#ccc;
  }
.post-footer em, .comment-link {
  font:68%/1.4em "Trebuchet MS",Trebuchet,Arial,Verdana,Sans-serif;
  text-transform:uppercase;
  }
.post-footer em {
  font-style:normal;
  color:#666;
  }
.post-footer a {
  text-decoration: none;
  color:#5087BD;
}

/*- Sub Menu */

ul.smenu {
        text-align: right;
        font-size: 11px;
        bottom: 0;
        }

ul.smenu li {
        display: inline;
        }

ul.smenu,
ul.smenu li a {
        }

ul.smenu li a {
	background-color: #eee;
        font: 1em Verdana, Helvetica, Arial, Sans-Serif;
        text-transform: lowercase;
        }

ul.smenu li a:hover {
        background: #333;
        color: #eee !important;
        text-decoration: none;
        }

ul.smenu li.current_page_item a,
ul.smenu li.current_page_item a:hover {
        color: #333 !important;
        background: white;
        text-decoration: none;
        }

#portfolio img {
        border: 1px solid #ccc;
	padding: 4px;
        margin: 5px;
}

#portfolio a {}
#portfolio a:hover {background-color:#fff;}

.post a:hover {
        background-color: #5087BD;
        color: #fff;
        text-decoration: none;
}

#livesearchform {
	color: #666;
}
#livesearchform a {
        color: #5087BD;
        text-decoration: underline;
}

.storytitle a {
	color: #000;
}

.navigation {
        text-align: center;
        margin: -10px 0 30px;
        padding: 0;
        width: 100%;
        font-size: small;
        }

.navigation p {
        margin: 0;
        padding: 0;
        height: 0;
        }

.alignright {
        float: right;
        }

.alignleft {
        float: left
        }

.author {
        margin-top: -22px;
}


.flickr-album {
        padding: 0;
        width: 100%;
}

.flickr-thumbnail {
        padding-right: 20px;
        background-color: #fff;
        border: 1px solid #a9a9a9;
        margin: 6px 6px 6px 0px;
        padding: 4px;
        margin-top: 10px;
}

.flickr-meta {
        margin-top: -20px;
        font-size: 8pt;
        margin-bottom: 20px;
}

.flickr-title {
        width: 500px;
        color: #260;
        padding-top: 0px;
        margin-top: -5px;
}

.flickr-description {
        margin-top: -20px;
        font-size: 9pt;
        margin-bottom: 20px;
}

.poptags {
	text-align: justify; 
	margin-right: 10px;
	font-family: Verdana, 'Century Gothic', sans;
}
