\#*\#
.\#*
.svn
.DS_Store
_darcs
.hg
.hgtags
.hgignore

# backups
backups

# caches
sources/php/cache
tools/reanimator/cache
tools/rework/cache
tools/svn2ics/cache
wp/wp-content/cache

# tracked separately
applets/onthisday
build/drupal2wordpress
build/migrate/*.sql
build/migrate/*.sql.gz
build/migrate/*.log
build/stretch/*.png
build/stretch/*.mvg
build/stretch/*.svg
/home
sources/javascript/cache
sources/javascript/concurrent
sources/javascript/functional
sources/javascript/protodoc
sources/javascript/sequentially
sources/javascript/osdoc

# builds
projects/nav.lzx.swf
projects/nav.swf
projects/projects.php
projects/projects.xml
resume/resume.fo
*.png.skip
*.pyc

# in progress
tools/wayback
applets/happy
js.new

# too large
/music
/movies
/rafty

# Unused plugins
wp/wp-content/plugins/advanced-excerpt/
wp/wp-content/plugins/excerpt-editor/
wp/wp-content/plugins/github-gist-shortcode/
wp/wp-content/plugins/insights/
wp/wp-content/plugins/random-file/
wp/wp-content/plugins/snazzy-archives/
wp/wp-content/plugins/text-control/
wp/wp-content/plugins/visual-recent-posts/
wp/wp-content/plugins/wp-pagenavi/
wp/wp-content/disabled-plugins

# Untracked files:
/lib
sources/javascript/bezier.0.js
sources/javascript/bezier.y.js
sources/javascript/blog.txt
sources/javascript/canvas-graphview-demo.html
sources/javascript/class-browser.html
sources/javascript/dotparser.py
sources/javascript/encoder.py
sources/javascript/gradients.js.1
sources/javascript/graphserver.py
sources/javascript/memoize.js.1
sources/javascript/outtakes.js
sources/javascript/reducible-functions.html
sources/javascript/reducible-functions.js
sources/javascript/reducible-partials.js
sources/javascript/test.html
sources/ruby/contacts
sources/ruby/contacts-0.4.zip
sources/ruby/obsolete
sources/ruby/openlaszlo-0.1
sources/ruby/openlaszlo-0.1.zip

wp/wp-content/themes
home.php
includes/footer-banner.php
stylesheets/home.css
services.php
node_modules
index.html
.vagrant
