.svn
.DS_Store
_darcs
.hg
.hgtags
.hgignore
*.png.skip

sources/javascript/cache
sources/javascript/concurrent
sources/javascript/functional
sources/javascript/protodoc
sources/javascript/sequentially
sources/javascript/osdoc
sources/php/cache
tools/reanimator
tools/rework/cache

tools/svn2ics/cache

build
applets/onthisday
home

projects/nav.lzx.swf
projects/nav.swf
projects/projects.php
projects/projects.xml

rafty

tools/wayback

music
movies
