p
  | Oliver Steele is a Boston-area software consultant and serial entrepreneur, living with his
  a(href='http://margaretminsky.com') wife
  |  and two children in Amherst, MA.
// more 
p
  | Oliver is the author of
  a(href='/projects/pywordnet/') PyWordnet
  | , 
  a(href='/sources/javascript/functional/') Functional JavaScript
  | , and a number of other open source libraries. He was the architect of OpenLaszlo, and worked at Apple Computer on Apple Dylan and Quickdraw GX. His interests include software visualization, programming languages, and math education.
p This web site collects his writing, open source libraries, and other projects.
