<?php $title = 'Oliver Steele';
$nostyle = true;
\//$nodtd = true;
$content_for_header = <<<END
<meta name="description" content="Oliver Steele builds abstractions in Amherst, MA.  This page hosts his projects, essays, software libraries, and visualizations."?>
%link{:href => "/stylesheets/home.css", :rel => "stylesheet", :type => "text/css"}
%link{:href => "/stylesheets/banner.css", :rel => "stylesheet", :type => "text/css"}
%link{:href => "/stylesheets/banner.iphone.css", :rel => "stylesheet", :type => "text/css", :media => "only screen and (max-device-width: 480px)"}
%script{:src => "/javascripts/behaviour.js", :type => "text/javascript"}
%script{:src => "/javascripts/divstyle.js", :type => "text/javascript"}
%script{:src => "/javascripts/gradients.js", :type => "text/javascript"}
END;
include('includes/header.php');
?>
.style
  \.section {border-radius: 25}
  \.projects {gradient-start-color: #ccf}
  \.sources {gradient-start-color: #fcf}
  \.howto {gradient-start-color: #fcc}
  \.illustrations {gradient-start-color: #ffc}
  \.presentations {gradient-start-color: #cfc}
  \.essays {gradient-start-color: #cff}
%div{:style => "position:fixed; top:0;right:0"}
  <? include('includes/sitesearch.php'); ?>
%h1
  %a{:href => "/about"} Oliver Steele
%ul.nav
  %li
    %a{:href => "/about/"} About
  %li
    %a{:href => "/archives/"} Archives
  %li
    %a{:href => "/sources/"} Sources
  %li
    %a{:href => "/projects"} Projects
  %li
    %a{:href => "/blog/"} Blog
%table
  %tr
    %td
      .section.projects
        %div
          %h2 Projects
          %ul
            %li
              %a{:href => "/tools/rework/"}
                reWork: regular expression workbench
            %li
              %a{:href => "/tools/reanimator/"}
                reAnimator: regular expression visualizer
            %li
              %a{:href => "http://browsegoods.com"}
                BrowseGoods: visualize the Amazon catalog
            %li
              %a{:href => "/words/aargh"} The Aargh Page
          .more
            %a{:href => "/projects"}
              more&hellip;
    %td
      .section.sources
        %div
          %h2 Source Code
          %ul
            %li
              %a{:href => "http://www.openlaszlo.org/"}
                OpenLaszlo
            %li
              %a{:href => "http://laszlo-plugin.rubyforge.org/"}
                PyWordnet
            %li
              %a{:href => "/sources/javascript/functional"}
                Functional JavaScript
            %li
              %a{:href => "/archives/2006/02/javascript-beziers"}
                JavaScript Bezier Library
          .more
            %a{:href => "/sources"}
              more&hellip;
  %tr
    %td
      .section.essays
        %div
          %h2 Essays
          %ul
            %li
              %a{:href => "/archives/2007/12/overloading-semicolon"}
                Overloading Semicolon (Yet Another Monad Tutorial)
            %li
              %a{:href => "/archives/2004/11/ides"}
                The IDE Divide
            %li
              %a{:href => "/archives/2006/02/stretch-languages"}
                "Stretch" Languages
            %li
              %a{:href => "archives/2004/12/serving-clients"}
                Serving Client-Side Applications (historical)
            %li
              %a{:href => "http://www.openlaszlo.org/pipermail/laszlo-user/2005-October/001802.html"}
                Why JavaScript?
          .more
            %a{:href => "/blog"}
              more&hellip;
    %td
      .section.howto
        %div
          %h2 Howto
          %li
            %a{:href => "/archives/2006/04/javascript-memoization"}
              JavaScript Memoization
          %li
            %a{:href => "/archives/2008/04/conquering-busy-cursor-sequentially"}
              Trickling JavaScript computation
          %li
            %a{:href => "/archives/2008/02/synchronizing-client-models"}
              Synchronizing client models
          %li
            %a{:href => "/archives/2007/12/cheap-monads"}
              Avoiding temporary variables (<a href="/archives/2008/02/inlined-frommaybe">pt. 2</a>)
          %li
            %a{:href => "/archives/2008/02/self-printing-javascript-literals"}
              Self-printing JavaScript literals
          %ul
          .more
            %a{:href => "/archives/category/javascript"}
              more&hellip;
  %tr
    %td
      .section.presentations
        %div
          %h2 Presentations
          %ul
            %li
              %a{:href => "http://www.slideshare.net/osteele/oliver-steele-functional-javascript-presentation"}
                <em>Practical</em> Function JavaScript (Ajax Experience 2008)
            %li
              %a{:href => "http://www.slideshare.net/osteele/laszlo-pycon-2005"}
                OpenLaszlo Python Implementation (PyCon 2005)
            %li
              %a{:href => "http://www.slideshare.net/osteele/oreilly-etech-conference-laszlo-ria-presentation"}
                The Laszlo RIA (O'Reilly Tech Talk 2003)
            %li
              %a{:href => "http://ll2.ai.mit.edu/"}
                Declarative RIA Description (LL2 2002)
          .more
            %a{:href => "http://www.slideshare.net/osteele/slideshows"}
              more&hellip;
    %td
      .section.illustrations
        %div
          %h2 Illustrations
          %ul
            %li
              %a{:href => "/archives/2008/01/programmers-pyramid"}
                Programmer's Food Pyramid
            %li
              %a{:href => "/archives/2008/05/commit-policies"}
                Git commit
            %li
              %a{:href => "/archives/2008/05/latin-agreement-and-case"}
                Latin Agreement and Case
            %li
              %a{:href => "/archives/2008/02/supply-demand-springs"}
                Supply/Demand Springs
            %li
              %a{:href => "/archives/2008/02/fizzbuzz-station"}
                Fizzbuzz Station
          .more
            %a{:href => "/archives/category/illustrations"}
              more&hellip;

-# <script type="text/javascript" src="http://twitticisms.osteele.com/js"></script>

.footer
  %hr
  Copyright 2006 - 2009 by
  %a{:href => "/about"}
    Oliver Steele.  All rights reserved.

%script{:src => "/javascripts/home.js", :type => "text/javascript"}
<?php include('includes/footer-banner.php'); ?>
<?php include('includes/footer.php'); ?>
