div
  | Software developer (
  a(href='http://openlaszlo.org') OpenLaszlo
  | , 
  a(href='/sources/javascript/functional/') Functional JavaScript
  | , 
  a(href='/projects/pywordnet/') PyWordnet
  | , 
  a(href='/tools/reanimator/') reAnimator
  | , 
  a(href='/projects/') …
  | )
.line2 & entrepeneur (AlphaMask, Dotted Pair, Style&Share, …)
.line3
  | & manager / project manager / exec (
  a(href='http://apple.com/') Apple Computer
  | , Method Software, 
  a(href='http://laszlosystems.com') Laszlo Systems
  | , …)
