<?php $title = 'Oliver Steele';
$nostyle = true;
$content_for_header = <<<END
<meta name="description" content="Oliver Steele is a software consultant based in Amherst, MA.  This page hosts his projects, essays, software libraries, and other projects."?>
%link{:href => "/stylesheets/home.css", :rel => "stylesheet", :type => "text/css"}
%link{:href => "/stylesheets/banner.css", :rel => "stylesheet", :type => "text/css"}
%link{:href => "/stylesheets/banner.iphone.css", :rel => "stylesheet", :type => "text/css", :media => "only screen and (max-device-width: 480px)"}
%script{:src => "/javascripts/gradients.js", :type => "text/javascript"}
%script{:src => "/javascripts/jquery-1.3.1.min.js", :type => "text/javascript"}
END;
include('includes/header.php');
?>
%h1{:class => 'home'}
  %a{:href => "/about"} Oliver Steele
<?php include('includes/nav.php'); ?>

%ul.web
  %li
    %a{:href => 'http://www.linkedin.com/in/osteele'} LinkedIn
  %li
    %a{:href => 'http://twitter.com/osteele'} Twitter
  %li
    %a{:href => 'http://slideshare.net/osteele/'} Slideshare
  %li
    %a{:href => 'http://github.com/osteele/'} Github

.search
  <?php include('includes/sitesearch.php'); ?>

.bio
  %p

    Oliver is a freelance software developer.  He wants to <em>build
    your product</em>, <em>rescue your project</em>, or <em>mentor your
    team</em>.  Communicate your business goals, your product
    requirements, or your design specifications to him, and he will take
    it from there, working by himself or closely with your team.  He
    will advise you on technology choices, potential risks, and time
    versus feature tradeoffs, and give you as much or as little control
    as you want at each stage of development. He will deliver modular
    code and top-notch documentation; and he will mentor or train your
    employees to continue internal development when you're ready.

  %p

    Oliver's specialties are <em>web development</em> (especially
    <em>cutting-edge AJAX</em>), <em>NLP</em>, programming languages,
    and interactive graphics.  He <em>has built high-quality interactive
    web sites</em> and sophisticated semantic systems, as an individual
    and with teams.  He has managed <em>Agile</em> projects, and can
    advise you on what parts of which projects work best with which
    methodologies.  He has <em>managed groups</em> from two to twenty,
    locally and remotely.  He has been a project lead, an architect, a
    CTO, a VPE, and an entrepeneur.  He has presented at O'Reilly
    Emerging Technologies, XTech, PyCon, the Ajax Experience, and the
    MIT Lightweight Language Workshop.  He has <em>shipped products</em>
    in Assembly, C, Common Lisp, Java, JavaScript, Python, Smalltalk,
    SQL, Ruby, Rails, and XSLT.  He has created <em>open source
    projects</em> that people actually use, including PyWordNet and
    <em>OpenLaszlo</em>, and <em>Rails plugins</em> and <em>Ruby
    gems</em>.

  %p

    Oliver lives in the Boston area, travels to the San Francisco Bay,
    and has extensive experience working remotely.  Take a look at his
    <a href="/sources">source code</a> and <a
    href="/projects">projects</a>, and contact him at <a
    href="mailto:steele@osteele.com?subject=consulting%20opportunity">steele@osteele.com</a>
    or <a href="callto:6172335232">617 233-5232</a> for a list of
    references or for a quote.


%table.areas
  %tr
    %td
      .section.projects
        %div
          %h2 Projects
          %ul
            %li
              %a{:href => "/tools/rework/"}
                reWork: regular expression workbench
            %li
              %a{:href => "/tools/reanimator/"}
                reAnimator: regular expression visualizer
            %li
              %a{:href => "http://browsegoods.com"}
                BrowseGoods: visualize the Amazon catalog
            %li
              %a{:href => "/words/aargh"} The Aargh Page
          .more
            %a{:href => "/projects"}
              more&hellip;
    %td
      .section.sources
        %div
          %h2 Source Code
          %ul
            %li
              %a{:href => "http://www.openlaszlo.org/"}
                OpenLaszlo
            %li
              %a{:href => "http://laszlo-plugin.rubyforge.org/"}
                PyWordnet
            %li
              %a{:href => "/sources/javascript/functional"}
                Functional JavaScript
            %li
              %a{:href => "/archives/2006/02/javascript-beziers"}
                JavaScript Bezier Library
          .more
            %a{:href => "/sources"}
              more&hellip;
  %tr
    %td
      .section.essays
        %div
          %h2 Essays
          %ul
            %li
              %a{:href => "/archives/2007/12/overloading-semicolon"}
                Overloading Semicolon (Yet Another Monad Tutorial)
            %li
              %a{:href => "/archives/2004/11/ides"}
                The IDE Divide
            %li
              %a{:href => "/archives/2006/02/stretch-languages"}
                "Stretch" Languages
            %li
              %a{:href => "archives/2004/12/serving-clients"}
                Serving Client-Side Applications (historical)
            %li
              %a{:href => "http://www.openlaszlo.org/pipermail/laszlo-user/2005-October/001802.html"}
                Why JavaScript?
          .more
            %a{:href => "/blog"}
              more&hellip;
    %td
      .section.howto
        %div
          %h2 Howto
          %li
            %a{:href => "/archives/2006/04/javascript-memoization"}
              JavaScript Memoization
          %li
            %a{:href => "/archives/2008/04/conquering-busy-cursor-sequentially"}
              Trickling JavaScript computation
          %li
            %a{:href => "/archives/2008/02/synchronizing-client-models"}
              Synchronizing client models
          %li
            %a{:href => "/archives/2007/12/cheap-monads"}
              Avoiding temporary variables (<a href="/archives/2008/02/inlined-frommaybe">pt. 2</a>)
          %li
            %a{:href => "/archives/2008/02/self-printing-javascript-literals"}
              Self-printing JavaScript literals
          %ul
          .more
            %a{:href => "/archives/category/javascript"}
              more&hellip;
  %tr
    %td
      .section.presentations
        %div
          %h2 Presentations
          %ul
            %li
              %a{:href => "http://www.slideshare.net/osteele/oliver-steele-functional-javascript-presentation"}
                <em>Practical</em> Function JavaScript (Ajax Experience 2008)
            %li
              %a{:href => "http://www.slideshare.net/osteele/laszlo-pycon-2005"}
                OpenLaszlo Python Implementation (PyCon 2005)
            %li
              %a{:href => "http://www.slideshare.net/osteele/oreilly-etech-conference-laszlo-ria-presentation"}
                The Laszlo RIA (O'Reilly Tech Talk 2003)
            %li
              %a{:href => "http://ll2.ai.mit.edu/"}
                Declarative RIA Description (LL2 2002)
          .more
            %a{:href => "http://www.slideshare.net/osteele/slideshows"}
              more&hellip;
    %td
      .section.illustrations
        %div
          %h2 Illustrations
          %ul
            %li
              %a{:href => "/archives/2008/01/programmers-pyramid"}
                Programmer's Food Pyramid
            %li
              %a{:href => "/archives/2008/05/commit-policies"}
                Git commit
            %li
              %a{:href => "/archives/2008/05/latin-agreement-and-case"}
                Latin Agreement and Case
            %li
              %a{:href => "/archives/2008/02/supply-demand-springs"}
                Supply/Demand Springs
            %li
              %a{:href => "/archives/2008/02/fizzbuzz-station"}
                Fizzbuzz Station
          .more
            %a{:href => "/archives/category/illustrations"}
              more&hellip;

-# <script type="text/javascript" src="http://twitticisms.osteele.com/js"></script>

.footer
  %hr
  Copyright 2006 - 2009 by
  %a{:href => "/about"}
    Oliver Steele.  All rights reserved.

%script{:src => "/javascripts/home.js", :type => "text/javascript"}
<?php include('includes/footer.php'); ?>
