doctype html
html
  head
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Oliver Steele | About
    link(href='http://www.osteele.com/rss.xml', rel='alternate', title='Oliver Steele', type='application/rss+xml')

    link(href='http://fonts.googleapis.com/css?family=OFL+Sorts+Mill+Goudy+TT:regular,italic', rel='stylesheet', type='text/css')
    link(href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css", rel="stylesheet")
    link(href="/css/home-2014.css", rel="stylesheet")

  body

    //- .container.container-narrow
    //-   .header.dataspy-target
    //-     ul.nav.nav-pills.xpull-right
    //-       //-  li.active: a(href="#") Home
    //-       li: a(href="#") About
    //-       li: a(href="#code") Code
    //-       li: a(href="#blog") Blog
    //-       li: a(href="#talks") Talks
    //-       li: a(href="#illustrations") Illustrations
    //-       li: a(href="#history") History
    //-       li: a(href="#Trivia") Trivia
    //-     h1.text-muted Oliver Steele

    .navbar.navbar-static-top(role="navigation")
      .container.container-narrow
        .navbar-header
          h1.text-muted Oliver Steele
        nav.navbar-collapse.collapse
          ul.nav.navbar-nav
            li: a(href="#") About
            li: a(href="#code") Code
            li: a(href="#blog") Blog
            li: a(href="#talks") Talks
            li: a(href="#illustrations") Illustrations
            li: a(href="#history") History
            li: a(href="#Trivia") Trivia

    .container.container-narrow
      section#about
        h2 About

        .brothers.pull-right
          img(src="/images/letuspraise.jpg", alt="two brothers")
          //- legend.small.
            My brother and myself;
            <br/>sometime in the previous millenium

        p Hi, I’m Oliver. (White shirt, standing, in the picture.)

        p I'm a programmer, manager, juggler, husband, and father of two.

        p.
          I've worked at
          <a href="http://apple.com">Apple</a> (consumer electronics and computers),
          <a href="https://nest.com">Nest Labs</a> (wifi-connected learning thermostats),
          AOL (during the reboot; not as stodgy &ndash; briefly &ndash; as it sounds),
          and a bunch of start-ups.

        p.
          I'm based in Amherst, Massachusetts, but I’ve spent most of my life commuting to Boston
          and/or telecommuting to California.

        p.
          If you want to get in touch with me, <a href="mailto:steele@osteele.com">email</a> is best.
          If you’re a recruiter, try to find someone who knows me or who I’ll recognize from their name or work;
          and ask for an introduction.

        p.
          I'm also on <a href="http://github.com/osteele">GitHub</a>,
          <a href="https://twitter.com/osteele">Twitter</a>,
          and <a href="http://www.linkedin.com/in/osteele">LinkedIn</a>.

      section#code
        h2 Code
        p I consider coding (like writing) as a way to think.
        p.
          I prefer to work with people who code in order to clarify how to talk, as often as they talk in order to clarify how to code.
          (That is, neither exclusively, and neither with fear.)
        p. Good code is beautiful.
        p.
          I currently work mostly in Ruby, Python, JavaScript &amp; CoffeeScript;
          previously in C, C++, Common Lisp, Java, SmallTalk, assembly, and (of course) Dylan;
          and smaller projects in Haskell and bash.
          For server work I've used mostly Rails, Django, Sinatra, and Express; MySQL, Postgres, and Redis;
          Apache and nginx; and AWS (and previously DreamHost, SliceHost and colos).
        p.
          <a href="http://code.osteele.com">GitHub code page</a> lists a few of my current side projects.
          This year these are mostly around music theory and notation.
        p.
          My complete GitHub repository list is <a href="http://github.com/osteele">here</a>.

        h4 Historical Code
        ul
          li.
            Pre-GitHub <a href="/sources">sources page</a>.
            The addition of <code>border-radius</code> and gradients to CSS,
            of <code>canvas</code> and <code>fillText</code> to HTML,
            and of the web developer console to modern web browsers,
            made a number of these unnecessary.
          li <a href="/projects/pywordnet/">PyWordNet</a> was folded into <a href="http://nltk.org/">NLTK</a>.
          li.
            These days I use <a href="http://underscorejs.org">Underscore</a>
            and <a href="http://coffeescript.org">CoffeeScript</a>
            instead of my own older <a href="/projects/pywordnet/">Functional JavaScript</a>
            and <a href="https://github.com/osteele/collections-js">Collections.js</a>.

      section#blog
        h2 Blog
        p.
          I published a <a href="http://blog.osteele.com">blog</a> from 2003 to 2008.
        //-  p.
        //-    Maintaining this doubled as a means to keep up with server, web, and publishing technologies.
        //-    Over time it migrated from <a href="http://movabletype.org">Movable Type</a>,
        //-    to <a href="http://wordpress.org">Wordpress</a>,
        //-    to <a href="https://www.djangoproject.com">Django</a>,
        //-    back to Wordpress, to <a href="http://jekyllrb.com">Jekyll</a> and <a href="http://ruhoh.com">Ruhoh</a>,
        //-    and finally to <a href="http://jaspervdj.be/hakyll/">Hakyll</a> &mdash;
        //-    with unpublished attempts in <a href="https://ghost.org">Ghost</a> and <a href="http://zespia.tw/hexo/">Hexo</a>.
        p.
          Popular posts included
          <a href='http://blog.osteele.com/posts/2004/11/ides'>The IDE Divide</a> and
          <a href='http://blog.osteele.com/posts/2007/12/overloading-semicolon'>Overloading Semicolon</a>.
        p.
          Posts that failed to make a splash include
          <a href="http://blog.osteele.com/posts/2004/12/serving-clients">Service Clients</a> (an early attempt to describe AJAX), and
          <a href="http://blog.osteele.com/posts/2003/08/rethinking-mvc">Rethinking MVC</a> (an early attempt to describe <a href="http://en.wikipedia.org/wiki/Model_View_ViewModel">MVVM</a>).
        p.
          The illustrations in my <a href='http://blog.osteele.com/posts/2008/05/my-git-workflow'>My Git Workflow</a>
          have been adapted (with permission) and improved many times. You can find by on the web.

      section#talks
        h2 Talks
        ul
          li Ajax Experience 2008: <a href='http://www.slideshare.net/osteele/oliver-steele-functional-javascript-presentation'><em>Practical</em> Functional JavaScript</a>
          li PyCon 2005: <a href='http://www.slideshare.net/osteele/laszlo-pycon-2005'>OpenLaszlo Python Implementation</a>
          li <a href='/talks/2004-06-google/'>Google</a>
          li O’Reilly Emerging Technology: <a href='http://www.slideshare.net/osteele/oreilly-etech-conference-laszlo-ria-presentation'>Laszlo</a>
          li MIT Lightweight Language Workshop 2002: <a href='http://ll2.ai.mit.edu/'>declarative UI and constraint system</a>

      section#illustrations
        h2 Popular Illustrations
        ul.list-unstyled
          li: a(href='http://blog.osteele.com/posts/2008/01/programmers-pyramid') Programmer’s Food Pyramid
          li: a(href='http://blog.osteele.com/posts/2008/05/latin-agreement-and-case') Latin Agreement and Case
          li: a(href='http://www.zazzle.com/there_their_theyre_poster-228814630698264832') There their they’re
          li: a(href='http://blog.osteele.com/posts/2008/02/supply-demand-springs') Supply/Demand Springs

      section#historical
        h2 Historical
        p You might also be here from a web search or link to:
        ul
          li.
            <a href="http://en.wikipedia.org/wiki/Apple_Dylan">Apple Dylan</a> was an attempt to make the concepts in Lisp applicable to application programming.
            Java, JavaScript, C#, and Objective C get 90% of the way there.
          li.
            <a href="http://en.wikipedia.org/wiki/QuickDraw_GX">Quickdraw GX</a> (Skia) and AlphaMask were early 2D graphics engines with configurable rendering pipelines.
            Cairo, Antigrain, and the (not-coincidentally-named) <a href="http://en.wikipedia.org/wiki/Skia_Graphics_Engine">Skia Graphics Engine</a>
            are portable solutions today.
          li OpenLaszlo’s style of constraint programming, data binding, and declarative components are available in Cocoa (as KVO) and many modern web frameworks.
          li ReAnimator is defunct; I might revive it.
          li For historical interest, here's my <a href="/index-2008">2008 home page</a>.

      section#trivia
        h2 Random Facts
        table.table
          tr
            td Apple Employee #
            td 12559
          tr
            td LinkedIn user number
            td 1860
          tr
            td Erd&ouml;s number
            td 7


    footer.footer
      .navbar.navbar-static-bottom
        .navbar-inner
          .container
            hr
            p &copy; Oliver Steele 2003&ndash;2014.
            p.
              The text and illustrations on this site are available under the
              <a href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
            p.
              Pretty much all the linked code is available under some open source license (mostly MIT).
              See each directory or repository for details; ask if you can’t find it.
            p.
              This site was built with <a href="http://getbootstrap.com" target="_blank">Twitter Bootstrap</a>
              and <a href="http://jade-lang.com" target="_blank">Jade</a>.

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
