body {
	background-color: #212121;
	color: #FFFFFF;
}

a:link, a:visited {
	color: #FFFFFF;
}

a:hover, a:active {
	color: #D8D8D8;
}

#sitetitle {
	color: #DDDDDD;
}

#sitetitle a:link {
	color: #DDDDDD;
}

#sitetitle a:hover {
	color: #B0B0B0;
}

.blog-entry-title {
	color: #FFFFFF;
}

.blog-entry-title a:link {
	color: #FFFFFF;
}

.blog-entry-title a:visited {
	color: #FFFFFF;
}

.blog-entry-title a:hover {
	color: #D8D8D8;
}

blockquote {
	background-color: #161616;
}

#sidebarContainer {
	color: #FFFFFF;
}

#sidebarIndent h3 {
	color: #FFFFFF;
}

#navcontainer a {
	color: #F6F6F6;
}

#slogan h2 {
	color: #DDDDDD;
}
