#menusystem {
	width: 154px;
	margin-left: 5px;
	float: left;
	position: relative;
	left: -1px;
}

#sidebarContainer {
	width: 176px;
	float: right;
	display: block;
	right: -14px;
	position: relative;
}

#content {
	width: 440px;
	margin: 0 0 0 200px;
}

#sidebarIndent {
	margin-left: 14px;
	margin-right: 10px;
}


#main {
	width: 864px;
}


