/* @group General Styles */

body {
	margin: 0;
	padding: 0 0 20px;
	font: 12px/21px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #dddddd;
}

p {
	margin: 0;
	padding: 0;
}


br {
	margin: 0;
}

h1 {
	margin: 0;
	padding: 0;
}

h2 {
	margin: 0;
	padding: 0;
}

img {
   border: none;
}

.image-left {
	float: left;
	margin: 3px 3px 3px 0;
	padding: 3px 12px 3px 0px;
}

.image-right {
	float: right;
	margin: 3px 0 3px 3px;
	padding: 3px 0 3px 12px;
}

a:link, a:visited {
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: none;
}

.clearer {
	clear: both;
}

blockquote {
	padding: 5px 12px;
	margin: 0;
}

code {
	margin: 10px 24px;
	font-family: "Courier New", Courier, mono;
}

h1 {
	margin: 0;
	padding: 0;
}

h2 {
	margin: 0;
	padding: 0;
}

h3 {
	margin: 0;
	padding: 0;
}

.imageStyle {

}

#contentContainer #content ul {
}

#contentContainer #content li {
}

#sidebarContainer #sidebar ul {
}

#sidebarContainer #sidebar li {
}

/* @end */

/* @group Layout */

#slogan {
	margin-right: 9px;
	margin-left: 9px;
	background: url(images/trans_black_bkg.png) repeat;
	text-align: center;
}

#slogan h2 {
	font-size: 16px;
	margin-right: 26px;
	margin-left: 26px;
	font-weight: normal;
	font-style: normal;
	line-height: 28px;
}

#logospot {
	width: 160px;
	height: 160px;
	float: left;
	display: block;
	margin-left: 24px;
	margin-top: 12px;
}

#container {
	margin-right: auto;
	margin-left: auto;
	width: 866px;
}

#header {
	width: 864px;
	height: 201px;
	background: url(images/editable_images/space_hdr_1.png) no-repeat;
}

#main {
	background: url(images/space_middle_1.png) repeat-y;
	width: 866px;
	padding-top: 20px;
	padding-bottom: 18px;
}

#content {
	margin-left: 200px;
	width: 440px;
}

#sidebarContainer {
	width: 176px;
	float: right;
	margin-right: 11px;
}

#sidebarTop {
	background: url(images/sidebartop_light.png) no-repeat;
	width: 176px;
	height: 17px;
}

#sidebarBottom {
	background: url(images/sidebarbottom_light.png) no-repeat;
	width: 176px;
	height: 17px;
}

#sidebarContent {
	font-size: 11px;
	line-height: 19px;
	background: url(images/sidebarmiddle_light.png) repeat-y;
}

#sidebarIndent {
	margin-left: 14px;
	margin-right: 16px;
}

#sidebarIndent h3 {
	font-size: 14px;
	padding: 0;
	margin: 0 0 6px;
}

#menusystem {
	width: 154px;
	margin-left: 9px;
	float: left;
}

#archiveTop {
	background: url(images/archivetop_light.png) no-repeat;
	width: 154px;
	height: 17px;
	margin-top: 22px;
}

#archiveBottom {
	background: url(images/archivebottom_light.png) no-repeat;
	width: 154px;
	height: 17px;
}

#archives {
	line-height: 21px;
	width: 154px;
	background: url(images/archivemiddle_light.png) repeat-y;
}

#archivesContent {
	margin-left: 16px;
	margin-right: 16px;
}

#leftsidebar {
	padding-bottom: 24px;
	display: none;
}

#contentBottom {
	width: 864px;
	height: 27px;
	background: url(images/space_bottom.png) no-repeat;
}

#sitetitle {
	float: right;
	display: block;
	margin-right: 26px;
	margin-top: 36px;
	font-family: Georgia, "Times New Roman", Times, serif;
}

#sitetitle a:link {
	text-decoration: none;
}

#sitetitle a:visited {
	text-decoration: none;
}

#sitetitle a:hover {
	text-decoration: none;
}


#titlebackright {
	background: url(images/titleback_right.png) no-repeat;
	width: 19px;
	height: 74px;
	float: left;
	display: inline;
}

#titlebackleft {
	background: url(images/titleback_left.png) no-repeat;
	width: 19px;
	height: 74px;
	float: left;
	display: inline;
}

#titlebackmiddle {
	height: 74px;
	background: url(images/titleback_middle.png) repeat-x;
	float: left;
	display: inline;
	font-size: 40px;
	padding-right: 12px;
	padding-left: 12px;
	line-height: 70px;
}

html>body #titlebackmiddle {
	height: 74px;
	background: url(images/titleback_middle.png) repeat-x;
	float: left;
	display: inline;
	font-size: 40px;
	padding-right: 12px;
	padding-left: 12px;
	line-height: 76px;
	padding-top: 0;
}

#footer {
	text-align: center;
	font: normal normal 9px/9.5px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	margin-top: 0;
	margin-bottom: 0;
}

	
/* @end */

/* @group Toolbar */

#navcontainer {
	display: block;
	line-height: 1.5em;
	font-size: 1.23em;
}

/* Toolbar Styles */

#navcontainer #current {
}

#navcontainer #current:hover {
}

#navcontainer .currentAncestor {
}

/* Parent - Level 0 */

#navcontainer ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

#navcontainer li {
	margin-bottom: 7px;
	background: url(images/menuitem.png) no-repeat 0 -33px;
}

#navcontainer a {
	height: 27px;
	width: 144px;
	display: block;
	padding-top: 6px;
	text-decoration: none;
	text-align: right;
	padding-right: 10px;
	color: #f6f6f6;
}

#navcontainer a:hover {
	background: url(images/menuitem.png) no-repeat 0 0;
}

#navcontainer a:active {
}

/* Child - Level 1 */

#navcontainer ul ul {
	margin-top: 7px;
}

#navcontainer ul ul li {
	background: none no-repeat 0 0;
}

#navcontainer ul ul a {
	color: #d9d9d9;
}

#navcontainer ul ul a:hover{
	color: #fafafa;
	background-image: none;
}

#navcontainer ul ul #current{
	color: #bcbcbc;
}

#navcontainer ul ul #current:hover{
}

#navcontainer ul ul .currentAncestor {
}

/* Child - Level 2 */

#navcontainer ul ul ul {
}

#navcontainer ul ul ul li {
	background: url(images/littlearrow.png) no-repeat right center;

}

#navcontainer ul ul ul a{
	width: 132px;
}

#navcontainer ul ul ul a:hover{

}

#navcontainer ul ul #current{
}

/* @end */

/* @group Blog */

/* @group Archive Page */

.blog-archive-background {}.blog-archive-headings-wrapper {
	text-align: left;
}

.blog-archive-entries-wrapper {
	text-align: left;
}.blog-archive-month {
	color: #b3b3b3;
	font-size: 20px;
	font-weight: normal;
	margin-bottom: 3px;
	letter-spacing: 1px;
	margin: 0;
	padding: 0;
	display: none;
}.blog-archive-link {
	color: #000000;
	font-size: 10px;
	display: none;
}
	
/* @end */

#categories {
	width: 120px;
}

.blog-entry {
	padding-bottom: 40px;
	font-weight: normal;
	font-style: normal;
}

.blog-entry-title {
	background-image: none;
	font-size: 26px;
	padding-bottom: 9px;
	text-decoration: none;
}

.blog-entry-title a:link {
	text-decoration: none;
}

.blog-entry-title a:visited {
	text-decoration: none;
}

.blog-entry-title a:hover {
	text-decoration: none;
}

.blog-entry-date {
	margin-bottom: 20px;
}

.blog-entry-body {
}

.blog-entry-comments {
	margin-top: 14px;
}

.blog-entry-comments a:link {
	padding-left: 0px;
	background: none left center;
}

html>body .blog-entry-comments a:link {
	padding-left: 20px;
	background: url(images/comments.gif) no-repeat left center;
}

.blog-entry-comments a:hover {
}

.blog-entry-summary { 
}

.blog-read-more a:link, .blog-read-more a:visited {
}

.blog-read-more a:hover
{
}


.blog-entry-category a:link, .blog-entry-category a:visited {
}

.blog-entry-permalink a:link, .blog-entry-permalink a:visited {
}

#archive {
}

#archive a:link, #archive a:visited {
}

#archive a:hover {
}

/* styles the archives in the blog sidebar */

#blog-archives {
	padding-top: 10px;
}


.blog-archive-link-enabled {
	padding-left: 0;
	background: none left center;
}

html>body .blog-archive-link-enabled {
	padding-left: 18px;
	background: url(images/archive.png) no-repeat left center;
}

.blog-archive-link-enabled:link, .blog-archive-link-enabled:visited {
}

.blog-archive-link-enabled:hover {
	padding-left: 18px;
	background: url(images/archive.png) no-repeat left center;
}

.blog-archive-link-disabled {
	padding-left: 0;
	background: none left center;
}

html>body .blog-archive-link-disabled {
	padding-left: 18px;
	background: url(images/archive.png) no-repeat left center;
}

/* Styles the blog categories in the blog sidebar */

#blog-categories {
}

.blog-category-link-enabled {
	padding-left: 0;
	background: none left center;
}

html>body .blog-category-link-enabled {
	padding-left: 18px;
	background: url(images/comments.png) no-repeat left center;
}

.blog-category-link-enabled:link, .blog-category-link-enabled:visited {
}

.blog-category-link-enabled:hover {
	padding-left: 0;
	background: none left center;
}

html>body .blog-category-link-enabled:hover {
	padding-left: 18px;
	background: url(images/comments.png) no-repeat left center;
}

.blog-category-link-disabled {
	padding-left: 0;
	background: none left center;
}

html>body .blog-category-link-disabled {
	padding-left: 18px;
	background: url(images/comments.png) no-repeat left center;
}

/* Styles the blog RSS feeds in the blog sidebar */

#blog-rss-feeds {
	margin-top: 12px;
}


.blog-rss-link {
}

.blog-rss-link:link, .blog-rss-link:visited {
	background: none left center;
}

html>body .blog-rss-link:link, .blog-rss-link:visited {
	padding-left: 18px;
	background: url(images/rssfeed.png) no-repeat left center;
}

.blog-rss-link:hover {
	padding-left: 0;
	background: none left center;
}

html>body .blog-rss-link:hover {
	padding-left: 18px;
	background: url(images/rssfeedhover.png) no-repeat left center;
}

.blog-comments-rss-link {
}

.blog-comments-rss-link:link, .blog-comments-rss-link:visited {
	padding-left: 0;
	background: none left center;
}

html>body .blog-comments-rss-link:link, .blog-comments-rss-link:visited {
	padding-left: 18px;
	background: url(images/rssfeed.png) no-repeat left center;
}

.blog-comments-rss-link:hover {
	padding-left: 0;
	background: none left center;
}

html>body .blog-comments-rss-link:hover {
	padding-left: 18px;
	background: url(images/rssfeedhover.png) no-repeat left center;
}
	
/* @end */

/* @group New Blog Styles (3.6) */

p.blog-entry-tags {
}
/* Styles blog tag links normal and visited state */
p.blog-entry-tags a:link,
p.blog-entry-tags a:visited {
}

/* Styles blog tag links hover state */
p.blog-entry-tags a:hover {
}

/* Styles blog tag links active state */
p.blog-entry-tags a:active {
}

/* Styles the tag clous un-ordered list */
ul.blog-tag-cloud {
	padding: 14px 0;
	margin: 0;
}

/* Styles tag cloud list item */
ul.blog-tag-cloud li {
	list-style-type: none;
	margin: 0;
	display: inline;
}

/* Styles all links in the tag cloud in normal and visited state */
ul.blog-tag-cloud li a:link,
ul.blog-tag-cloud li a:visited {
	padding: 0;
}

/* Styles all links in the tag cloud in hover state */
ul.blog-tag-cloud li a:hover {
	text-decoration: none;
}

/* Styles all links in the tag cloud in active state */
ul.blog-tag-cloud li a:active {
}

/* tag size 1-20 styles */
.blog-tag-size-1 {
	font-size: 9px;
}

.blog-tag-size-2 {
	font-size: 10px;
}

.blog-tag-size-3 {
	font-size: 10px;
}

.blog-tag-size-4 {
	font-size: 11px;
}

.blog-tag-size-5 {
	font-size: 11px;
}
.blog-tag-size-6 {
	font-size: 12px;
}

.blog-tag-size-7 {
	font-size: 12px;
}

.blog-tag-size-8 {
	font-size: 13px;
}

.blog-tag-size-9 {
	font-size: 13px;
}

.blog-tag-size-10 {
	font-size: 14px;
}

.blog-tag-size-11 {
	font-size: 14px;
}

.blog-tag-size-12 {
	font-size: 15px;
}

.blog-tag-size-13 {
	font-size: 15px;
}

.blog-tag-size-14 {
	font-size: 16px;
}

.blog-tag-size-15 {
	font-size: 17px;
}

.blog-tag-size-16 {
	font-size: 17px;
}

.blog-tag-size-17 {
	font-size: 18px;
}

.blog-tag-size-18 {
	font-size: 19px;
}

.blog-tag-size-19 {
	font-size: 19px;
}

.blog-tag-size-20 {
	font-size: 21px;
}

/* Order & Un-ordered List Support
These CSS classes style the list style type of an un-ordered list. */

ul.disc { list-style-type: disc;
}

ul.circle { list-style-type: circle;
}

ul.square { list-style-type: square;
}

ol.arabic-numbers { list-style-type: decimal;
}

ol.upper-alpha { list-style-type: upper-alpha;
}

ol.lower-alpha { list-style-type: lower-alpha;
}

ol.upper-roman { list-style-type: upper-roman;
}

ol.lower-roman { list-style-type: lower-roman;
}

/* @end */

/* @group Forms */
.message-text {
	width: 98%;
} 

.required-text {
} 

.form-input-field {
	width: 96%;
	font-size: 14px;
} 

.form-input-button {
	margin: 0;
	padding: 0;
} 
/* @end */

/* @group Bread-crumb */

#breadcrumb ul {
	display: inline;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#breadcrumb li {
	list-style-type: none;
	display: inline;
	margin: 0;
	padding: 0;
}

#breadcrumb a {
	display: inline;
	background: none;
}

#breadcrumb a:hover {
	display: inline;
}

#breadcrumb {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	width: 860px;
	padding-bottom: 12px;
}
	
/* @end */

/* @group Photo Album */

/* @group Index Page (Thumbnail view) */

.album-title {
	padding-bottom: 14px;
	font-size: 20px;
}

.album-description {
	margin-bottom: 85px;
}


.album-wrapper {
	display: block;
	width: 99%;
	margin-right: auto;
	margin-left: auto;
	position: relative;
}

.thumbnail-wrap {
	text-align: center;
	position: relative;
	float: left;
	margin-bottom: 60px;
	margin-right: 18px;
}

.thumbnail-frame {
	position: absolute;
    bottom: 0;
    left: 0;
}

.thumbnail-frame:hover {
}

.thumbnail-frame a {
}

.thumbnail-frame a:hover {
	background: transparent;
}

.thumbnail-frame img {
	margin: auto;
	border: 1px solid #d0d0d0;
}

.thumbnail-caption {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 38px;
	display: block;
}
	
/* @end */

/* @group Single Page (Photo view) */

.photo-background {
	margin: 0;
	padding: 0;
	text-align: center;
}

.photo-navigation {
	margin-top: 32px;
	margin-bottom: 20px;
	padding: 20px 14px;
	background-color: #3c3c3c;
}

#photo-navigation a {
	margin-top: 0;
	margin-bottom: 0;
	color: #262626;
}

#photo-navigation a:link {
	margin-top: 0;
	margin-bottom: 0;
	color: #262626;
}

.photo-navigation a:hover {
	color: #7b7b7b;
}

.photo-frame{
	margin-right: auto;
	margin-left: auto;
	margin-top: 26px;
	border: 8px solid #fff;
}

.photo-links {
	margin-top: 0;
	padding-top: 0;
	padding-bottom: 0;
	margin-bottom: 0;
}

.photo-links a:link {
	margin-top: 0;
	padding-top: 0;
}

.photo-title {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 4px;
	padding-bottom: 0;
	margin-top: 0;
	padding-top: 0;
}

.photo-caption {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}

/* @end */
	
/* @end */

/* @group File Sharing */

.filesharing-description {
	margin-bottom: 32px;
	font-size: 14px;
	line-height: 25px;
}

.filesharing-item {
	padding-left: 20px;
	margin-top: 0;
	padding-top: 0;
	padding-bottom: 34px;
}


.filesharing-item-title a:link {
	margin: 0;
}

.filesharing-item-title a:hover {
}

html>body .filesharing-item-title a:hover {
}

.filesharing-item-title {
	font-size: 16px;
}

.filesharing-item-description {
}

/* @end */

/* @group Quicktime Page */

.movie-description {
}
	
/* @end */

/* @group Quicktime Album */

/* @group Index Page (Movie Thumbnail view) */

.movie-page-title {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 3px;
}.movie-page-description {
	margin-bottom: 24px;
}.movie-thumbnail-frame {
	float: left;
	display: inline;
	margin-bottom: 10px;
	margin-right: 10px;
}

.movie-thumbnail-caption {
	text-align: left;
	width: 130px;
	margin-right: 10px;
}
	
/* @end */

/* @group Single Page (Movie View) */

.movie-background {
}

.movie-title {
}

.movie-frame {
	text-align: center;
	margin-bottom: 10px;
}
	
/* @end */


/* @end *//* @group EXIF data */
/* Data wrapper */
.exif-data {
}

/* p tag classes for all exif data */
p.exif-version {
}

p.exif-colour-space {
}

p.exif-focal-length {
}

p.exif-dimensions {
}

p.exif-pixel-y-dimension {
}

p.exif-oecf-value {
}

p.exif-subsec-time-original {
}

p.exif-exposure-mode {
}

p.exif-pixel-x-dimension {
}

p.exif-spatial-frequency-response {
}

p.exif-scene-capture-type {
}

p.exif-subject-location {
}

p.exif-shutter-speed {
}

p.exif-datetime-original {
}

p.exif-subsec-time {
}

p.exif-compressed-bits-per-pixel {
}

p.exif-flash-energy {
}

p.exif-saturation {
}

p.exif-brightness {
}

p.exif-exposure-time {
}

p.exif-f-number {
}

p.exif-file-source {
}

p.exif-gain-control {
}

p.exif-subject-area {
}

p.exif-cfa-pattern {
}

p.exif-scene-type {
}

p.exif-white-balance {
}

p.exif-flash {
}

p.exif-exposure-index {
}

p.exif-flashpix-version {
}

p.exif-device-setting-description {
}

p.exif-focalplane-x-resolution {
}

p.exif-image-uniqueid {
}

p.exif-components-configuration {
}

p.exif-light-source {
}

p.exif-sensing-method {
}

p.exif-aperture {
}

p.exif-sharpness {
}

p.exif-exposure-program {
}

p.exif-subject-distance {
}

p.exif-subsec-time-digitized {
}

p.exif-contrast {
}

p.exif-focalplane-resolution-unit {
}

p.exif-gamma {
}

p.exif-35mm-focal-length {
}

p.exif-datetime-digitized {
}

p.exif-subject-distance-range {
}

p.exif-custom-rendered {
}

p.exif-max-aperture {
}

p.exif-sound-file {
}

p.exif-metering-mode {
}

p.exif-spectral-sensitivity {
}

p.exif-exposure-bias {
}

p.exif-focalplane-y-resolution {
}

p.exif-iso-rating {
}

p.exif-maker-note {
}

p.exif-digital-zoom-ratio {
}

p.exif-user-comment {
}

/* @end */

/* @group Plugins */

/* @group RapidSearch */

/* Hides Yahoo Search Credit */

#search_credits {
	display: none;
}

#rapidsearch { 
	color: #4f4f4f;
}



/* @end */

/* @group RapidBlog */

.blog-entry-comments-body {
}

.blog-entry-comments-body-even {
}

.blog-entry-comments-body-odd {
}

/* @end */



/* @end */

