RewriteEngine On
RewriteBase /sources

RewriteRule ^portfolio$ portfolio/
RewriteRule ^(fast-preview.php|static-preview.php|.*.py) echo.php?source=$1

RewriteRule ^openlaszlo/?$ . [R]

RewriteRule ^(jbtest.*).js$ jblock.php [L]