AddHandler fastcgi-script .fcgi
AddHandler cgi-script .cgi

RewriteEngine On

RewriteRule ^/?$ /tools/svn-activity/sparkline.png [R]
RewriteRule ^sparkline.(png|jpg|jpeg|gif)$ dispatch.fcgi?format=$1 [QSA]


