<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            <a href="mailto:{{ site.email }}">
              <i class="far fa-envelope"></i>
              {{ site.email }}
            </a>
          </li>
          <li>
            <a href="https://github.com/{{ site.github_username }}">
              <i class="fab fa-github"></i>
              GitHub: osteele
            </a>
          </li>
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}">
              <i class="fab fa-twitter"></i>
              Twitter: osteele
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/osteele">
              <i class="fab fa-linkedin"></i>
              LinkedIn: osteele
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
