RewriteEngine On

RewriteRule ^behaviour.js$ /sources/jstrip.php [L]
RewriteRule ^((divstyle|gradients)\.js)$ /sources/jstrip.php?file=/sources/javascript/$1 [QSA]

RewriteRule ^((readable|inline-console).js)$ /sources/javascript/$1
