#header {
	width: 864px;
	height: 201px;
	background: url(../../images/editable_images/fire_hdr_2.png) no-repeat;
}

#main {
	background: url(../../images/firemiddle1.png) repeat-y;
}

#contentBottom {
	width: 864px;
	height: 27px;
	margin-bottom: 24px;
	background: url(../../images/firebottom2.png) no-repeat;
}

#navcontainer li {
	background: url(../../images/firemenuitem.jpg) no-repeat 0 -33px;
}

html>body #navcontainer li {
	background: url(../../images/menuitem.png) no-repeat 0 -33px;
}

#navcontainer a {
	background: url(../../images/firemenuitem.jpg) no-repeat 0 -33px;
}

html>body #navcontainer a {
	background-image: none;
}

#navcontainer a:hover {
	background: url(../../images/firemenuitem.jpg) no-repeat 0 0;
}

html>body #navcontainer a:hover {
	background: url(../../images/menuitem.png) no-repeat 0 0;
}

#navcontainer ul ul li {
	background: none no-repeat 0 0;
}

#navcontainer ul ul a {
	color: #d9d9d9;
	background-image: none;
}

html>body #navcontainer ul ul a {
	color: #d9d9d9;
	background-image: none;
}

#navcontainer ul ul a:hover{
	color: #fafafa;
	background-image: none;
}

#navcontainer ul ul #current{
	color: #fafafa;
}
