---
---

<meta http-equiv="refresh" content="0;url=https://osteele.notion.site/humor">

<script>
  window.location.href = "https://osteele.notion.site/humor";
</script>

<body>
  <p>Redirecting to <a href="https://osteele.notion.site/humor">https://osteele.notion.site/humor</a>...</p>
</body>
