.banner-spacer {
    height: 8ex;
}

.banner {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    width: 100%;
    padding: 0 20px 0 2px;
    background: #202030;
    color: #D0D0FF;
    font-family: "Lucida Grande","Trebuchet MS",Verdana,sans-serif;
	z-index: 10;
}

.banner .spacer {
    display: inline;
    color: red;
}

.banner a:link,
.banner a:visited,
.banner a:active {
    color: #A0A0FF;
    text-decoration: underline;
}

.banner a:hover {
    background: #A0A0FF;
    color: #101018;
}

.banner .top {
    padding: 5px 0 4px 0;
    font-size: 22px;
    border-bottom: 1px solid #445;
}

.banner .bottom {
    padding: 5px 0 8px 0;
    font-size: 9px;
}

.banner .top,
.banner .bottom {
    text-align: center;
    padding-left: 20px;
}

.banner span + span:before {
    content: " | ";
    color: #766;
}
