h1, h2, h3 {font-family: impact, sans-serif; font-weight: normal}
h1 {margin: 0; padding: 0}
h2 {padding-top: 20px; margin-bottom: 10px}
h1 a,
h2 a {color: black; text-decoration: none}
h1 a:hover {color: red}
h2 a:hover {color: white}
.section {margin-right: 30px; margin-bottom: 30px}
.section div {padding-left: 20px}
.section li a {text-decoration:none}
.section li a:hover {text-decoration:underline}
.more {padding-bottom: 20px}
.more a {color: blue; text-decoration: none}
.more a:hover {text-decoration: underline}
h3 {margin-top: 10px; margin-bottom: 2px}
td {width: 450px; vertical-align: top}
ul {margin: 0}
.style {display: none}

ul.nav {
    margin-top: 5px;
    margin-bottom: 8px;
    list-style: none;
    padding-left: 0;
}

ul.nav li + li:before {content: " | "}

ul.nav li {
    display: inline;
    font-size: 14pt;
    color: gray;
}

ul.nav a {
    text-decoration: none;
    color: gray;
}

ul.nav a:hover {
    text-decoration: underline;
}

p {margin-left:10px;width:820px;font:12pt Georgia}
p em {font-style:normal; background:yellow}

.footer {width:70%}
