RewriteEngine On

#RewriteCond %{QUERY_STRING} !.
#RewriteRule ^$ index.php

#RewriteCond %{QUERY_STRING} location=
#RewriteRule ^$ index.php

#RewriteCond %{REQUEST_FILENAME} -f
#RewriteRule ^(.*)$ svn2ics.php?location=$1 [QSA,L]

#RewriteRule ^svn2ics.nocache/(.*) svn2ics.php?location=$1 [QSA,L]
