DirectoryIndex fold.php

RewriteEngine On

RewriteCond %{HTTP_HOST} wideurl
RewriteRule ^ wideurl.php

RewriteCond %{HTTP_HOST} w-i-d-e-u-r-l
RewriteRule ^(.*) http://wideurl.com/$1

RewriteCond %{HTTP_HOST} isitpast12oclockyet
RewriteRule ^ isitpast12oclockyet.php

RewriteCond %{HTTP_HOST} digg
RewriteRule ^ focus.html

RewriteCond %{HTTP_HOST} reddit
RewriteRule ^ focus.html
