.banner-spacer
.banner
  .top
    Oliver is available for hire!
  .bottom
    %span Ruby, Rails, Ajax, NLP
    %span
      Email
      %a{:href=>"mailto:steele@osteele.com?subject=consulting%20opportunity"} steele@osteele.com
    %span
      Phone
      %a{:href=>"callto:6172335232"} 617 233-5232
