<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Fortunately, ...</title>
  <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://osteele.com/feed/" />
  <link rel="alternate" type="text/xml" title="RSS .92" href="http://osteele.com/feed/rss/" />
  <link rel="alternate" type="application/atom+xml" title="Atom 0.3" href="http://osteele.com/feed/atom/" />
<style type="text/css">
h2 {border-top: 1px solid black; padding-top: 1ex; font-size: larger}
em {background: #ffd; font-style: normal}
#em:hover {background: yellow}
sup {font-size: xx-small}
img {border: 1pt white}
img:float {border: 1pt blue}
a {text-decoration: none}
a:hover {text-decoration: underline}
</style>
</head>
<body>
<h1>Fortunately, <%= term ? term.capitalize : '...' %></h1>

<a href="http://www.amazon.com/gp/product/0689716605/oliversteele-20"><img src="/projects/images/charlip.jpg" style="float:left; margin-right: 5px"/></a>

<% if story %>
<blockquote><%= story %>
&mdash;<a href="http://search.yahoo.com/search?p=<%=ERB::Util.u "\"Fortunately, #{term}\""%>">Yahoo Search</a>
</blockquote>
<h2>Try another name:</h2>
<% else %>
<p>Type your name into the box below and click the Submit button, and the web will tell you a little story about yourself.</p>
<% end %>

<form method="post">
<label for="name">Fortunately,</label> <input id="name" name="q" />
<input name="commit" type="submit" />
</form>

<p>Some samples:
<% for term in %w{Jim Oliver Yahoo Google} %>
<a href="?q=<%=term%>"><%=term%></a>
<% end %>
</p>

<h2>Notes</h2>
<li><a href="http://osteele.com/archives/2006/01/fortunately">From a suggestion by Jim Grandy</a>, who got the idea from Jorg Brown.</li>
<li>Image credit <a href="http://www.amazon.com/gp/product/0689716605/oliversteele-20">Remy Charlip</a>.</li>
</ul>

<hr />
<!--Creative Commons License--><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/2.5/"><img alt="Creative Commons License" border="0" style="float: left; padding-right: 5px" src="http://creativecommons.org/images/public/somerights20.png"/></a>
Copyright &copy; 2006 <a href="/">Oliver Steele</a>.  Some rights reserved.<br/>

This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/2.5/">Creative Commons Attribution-NonCommercial-ShareAlike 2.5 License</a>.<!--/Creative Commons License--><!-- <rdf:RDF xmlns="http://web.resource.org/cc/" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
		<Work rdf:about="">
			<license rdf:resource="http://creativecommons.org/licenses/by-nc-sa/2.5/" />
		</Work>
		<License rdf:about="http://creativecommons.org/licenses/by-nc-sa/2.5/"><permits rdf:resource="http://web.resource.org/cc/Reproduction"/><permits rdf:resource="http://web.resource.org/cc/Distribution"/><requires rdf:resource="http://web.resource.org/cc/Notice"/><requires rdf:resource="http://web.resource.org/cc/Attribution"/><prohibits rdf:resource="http://web.resource.org/cc/CommercialUse"/><permits rdf:resource="http://web.resource.org/cc/DerivativeWorks"/><requires rdf:resource="http://web.resource.org/cc/ShareAlike"/></License></rdf:RDF> -->

<!-- This invocation of FCGI has served <%= fcgi_count %> requests. -->

<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "UA-202010-1";
urchinTracker();
</script>

</body>
</html>
